*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0 auto;
}

#container{
    width: 90%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

nav{
    width: 30%;
}

nav ul{
    display: flex;
    border: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    font-size: calc(px + 2vw);
    text-align: center;
    list-style: none;
    padding-left: 0;
}

nav li{
    font-size: calc(2px + 2vw);
    width: 80%;
    background-color:rgba(240, 227, 227, 0.78);
    padding: 2vh 0;
    margin: 5vh auto;
}


nav a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    flex-direction: column;
    width:70%;
    background-color: rgba(199, 196, 196, 0.78);
}


main p{
    margin: 0 1vw;
    font-size: calc(1px + 1vw);
}

#main{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2vh 2vw;
}

#main-title{
    margin: 2vw 0;
    text-align: center;
    font-size: calc(2px + 2vw);
    color: rgb(0, 0, 0);
}

#main-text{
    align-self: center;
    width: 60%;
    margin: 1vh 1vw;
}

#profile-image{
    align-self: center;
}

footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 253, 250);
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

img{
    max-width: 30%;
}

button{
    width: 20%;
    margin: 1vh auto;
    text-align: center;
    color: white;
    background-color: black;

}
input{
    max-width: 20%;
}

#heading, #output{
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center; 
    margin: 2%;
}

input {
    display: block;
    margin: 4% auto;
}

label{
    display: block;
    margin: 4% auto;   
}




@media screen and (max-width: 900px) {
    
    header{
        width: 100%;
        align-items: center;
    }

    #container{
        width: 100%;
        height: 100vh;
        flex-direction: column;
    }

    nav{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(0, 0, 0);
        list-style: none;
        padding-left: 0;
    }

    nav li{
        font-size: calc(2px + 1.5vw);
        background-color:rgba(240, 227, 227, 0.78);
        padding: 1% .5%;
        margin: 1% .5%;
    }

    nav a{
        text-decoration: none;
    }

    main{
        display: flex;
        flex-direction: column;
        width:100%;
        height: 100vh;
        background-color: rgba(199, 196, 196, 0.78);
    }

    main p{
        margin: 2% 2%;
        font-size: calc(2px + 3vw);
    }

    #profile-image{
        max-width: 50%;
    }

    #main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #main-text{
        align-self: center;
        width: 100%;
        margin: 1vh 1vw;
    }

    #main-image{
        margin: 1vh auto;
    }

    #main-title{
        text-align: center;
        color: rgb(0, 0, 0);
    }
}